.services {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #221f45;
  background-position: center;
  padding: 40px 0;
  text-align: center;
}

.services h2 {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: center; /* Center the services horizontally */
  align-items: flex-start; /* Align items at the top */
  gap: 20px; /* Space between each service */
  width: 80%; /* Ensure there's space on both sides */
  margin: 0 auto; /* Center the container within the page */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}
/* General Swiper Styles */
.services-swiper {
  width: 80%;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #221f45;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Specific borders for each service */
.service:nth-child(1) {
  border: 3px solid #ffff; /* Red border for Terminals */
  border-radius: 40px;
  
 
}

.service:nth-child(2) {
  border: 3px solid #ffff; /* Blue border for Facilities */
  border-radius: 40px;
}

.service:nth-child(3) {
  border: 3px solid #ffff; /* Green border for Logistics */
  border-radius: 40px;
}

.service img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.service img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.service h3 {
  font-size: 18px;
  color: #ffc000;
  margin-bottom: 10px;
}

.service p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 15px;
}

.service button {
  padding: 10px 20px;
  background-color: #ffc000;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.service button:hover {
  background-color: #fff;
  color: #000;
}

/* Responsive Design */
@media (max-width: 970px) {
  .services-container {
    flex-direction: column; /* Stack the services vertically */
    align-items: center; /* Center-align each service */
    gap: 20px; /* Add spacing between services */
    width: 100%;
    height: auto;
  }

  .service {
    max-width: 90%; /* Reduce the width for smaller screens */
  }

  .service img {
    width: 90%; /* Adjust the image size to fit smaller screens */
    height: auto;
  }

  .service h3 {
    width: 100%; /* Ensure heading spans full width */
    font-size: 16px;
    padding: 15px;
  }

  .service p {
    font-size: 14px;
  }

  .service button {
    padding: 8px 15px;
    font-size: 14px;
  }
}
