/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header-section {
  margin-top: 70px;
}

.header-section h1 {
  margin: 0;
  font-size: 2.5rem;
}

.path {
  font-size: 1rem;
  margin-top: 10px;
}

.about-banner {
  margin-top: 30px;
}

/* Procedures Section */
.act-wrapper {
  background-color: #fff;
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
}

/* Scoped Styles for Table in MyComponent */
.my-component-table {
border-collapse: collapse;
width: 100%;
margin-top: 20px;
}

.my-component-table th, .my-component-table td {
color: #6A6969;
text-align: left;
padding: 20px;
}

.my-component-table tr:nth-child(odd) {
background-color: #f2f2f2;
}

.my-component-table a:hover {
color: #ff9800;
}


a:hover {
  color: #ffcc00;
}

/* Path Navigation */
.path {
  font-size: 12px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .path {
    font-size: 0.9rem;
  }

  .act-wrapper {
    padding: 20px;
    margin: 10px;
  }

  table {
    font-size: 12px;
  }

  th, td {
    padding: 10px;
  }
}