/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div > .esystem-container {
  margin-top: -20px;
  padding-top: 0;
}

.esystem-container {
  background-image: url('../../assets/images/esystem/e-system.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 100%; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.berthing-exchange-container {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  max-width: 1200px; 
  margin-top: 350px;
  margin-left: 100px;
}

.berthing-program {
  flex: 2;
  padding: 20px;
}

.exchange-widget {
    width: 400px; 
    height: 300px; 
    margin-top: 75px;
    padding: 30px;
    background-color: #11101B;
    color: #fff; /* Text */
    text-align: center;
    position:sticky; 
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .exchange-widget h3 {
    font-size: 20px; 
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .exchange-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group label {
    font-size: 16px; 
    margin-right: 10px;
  }
  
  .date-input {
    position: relative;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    background-repeat: no-repeat;
    background-size: 16px 16px; 
    background-position: right 10px center; 
  }
  
  .date-input::-webkit-calendar-picker-indicator {
    filter: invert(100%); /* Changes the icon color to white */
    opacity: 1;
    cursor: pointer;
  }
  
  .date-input::-webkit-inner-spin-button {
    display: none; 
  }
  
  .date-input::-moz-focus-inner {
    border: 0;
  }  */
  
  .currency-display {
    font-size: 18px; 
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .currency-icon {
    font-size: 1.5em;
  }
  
  .rate_text {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffcc00;
    /* margin: 20px 0; */
  }
  
  .search-button {
    background-color: #FFCC00; 
    color: #11101B; 
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 30px; 
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #FFC107; 
  }

/* Loading and Error Messages */
.message-container {
  text-align: center;
}


/* @media (max-width: 1200px) {
  .esystem-container {
    height: auto; 
    padding: 20px; 
  }

  .berthing-exchange-container {
    margin-top: 200px; 
  }
}

@media (max-width: 768px) {
  .berthing-exchange-container {
    flex-direction: column;
    margin-top: 100px; 
  }

  .berthing-program,
  .exchange-widget {
    width: 100%;
    margin-right: 0;
  }

  .exchange-widget {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .esystem-container {
    padding: 10px;
  }

  .berthing-exchange-container {
    margin-top: 50px;
  }

  .search-button {
    font-size: 14px;
    padding: 8px 20px;
  }
} */

@media (max-width: 1400px) {
  .esystem-container {
    height: auto;
    padding: 20px;
  }

  .berthing-exchange-container {
    flex-direction: column;
    margin-top: 100px; 
    margin-left: 0;
    align-items: center; 
  }

  .berthing-program {
    width: 100%; 
    padding: 10px;
    text-align: center; 
    margin-top: 0; 
  }

  .exchange-widget {
    width: 350px; 
    height: 300px; 
    margin-top: 20px; 
    padding: 20px; 
    position: static; 
    transform: none; 
  }

  .exchange-widget h3 {
    font-size: 18px; 
  }

  .form-group label {
    font-size: 14px;
  }

  .date-input {
    font-size: 12px; 
  }

  .currency-display {
    font-size: 16px;
  }

  .rate_text {
    font-size: 16px; 
  }

  .search-button {
    width: 100%; 
    padding: 10px 20px; 
    font-size: 14px; 
  }
}