/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div > .esystem-container {
  margin-top: -20px;
  padding-top: 0;
}

.esystem-container {
  width: 1550px;
  height: 600px;
  background-image: url('../../assets/images/esystem/e-system.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.berthing-exchange-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure the container takes full width */
  max-width: 1200px; /* Optional: Limit the maximum width */
  margin-top: 350px;
}

.berthing-program {
  flex: 2;
  padding: 20px;
}

.exchange-widget {
  flex: 1;
  padding: 20px;
  margin-right: 200px;
}

.exchange-widget h3 {
  margin-top: 0;
  font-size: 1.5em;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.date-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
}

.currency-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  font-size: 1.2em;
}

.currency-icon {
  font-size: 1.5em;
}

.rate_text {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffcc00;
  margin: 20px 0;
}

.search-button {
  width: 100%;
  padding: 10px;
  background-color: #FFCC00;
  color: #11101B;
  border: none;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px 30px; 
  font-size: 16px; 
  font-weight: bold;
  cursor: pointer;
}

.search-button:hover {
  background-color: #FFC107;
}

/* Loading and Error Messages */
p {
  text-align: center;
  color: #555;
}

@media (max-width: 1200px) {
  .esystem-container {
    height: auto; /* Auto height for responsiveness */
    padding: 20px; /* Add padding for smaller screens */
  }

  .berthing-exchange-container {
    margin-top: 200px; /* Adjust margin for smaller screens */
  }
}

@media (max-width: 768px) {
  .berthing-exchange-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    margin-top: 100px; /* Adjust margin for mobile screens */
  }

  .berthing-program,
  .exchange-widget {
    width: 100%; /* Full width for smaller screens */
    margin-right: 0; /* Remove right margin */
  }

  .exchange-widget {
    margin-top: 20px; /* Add space between sections */
  }
}

@media (max-width: 480px) {
  .esystem-container {
    padding: 10px; /* Reduce padding for very small screens */
  }

  .berthing-exchange-container {
    margin-top: 50px; /* Further adjust margin for very small screens */
  }

  .date-input {
    font-size: 0.9em; /* Reduce font size for smaller inputs */
  }

  .search-button {
    font-size: 14px; /* Reduce button font size */
    padding: 8px 20px; /* Adjust button padding */
  }
}