body {
    font-family: Arial, sans-serif !important;
  }
  
 /* Header Section */
.header-section {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 70px;
    margin: 0;
  }
  
  .header-section h1,
  .header-section p {
    position: absolute;
    text-align:justify;
    color: white;
    margin: 0;
    font-family: 'open sans','sans-serif';
    font-size: 14px;
  }
  
  .header-section h1 {
    bottom: 20px;
    left: 20px;
    font-size: 2.5rem;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .header-section p {
    bottom: 10px;
    left: 20px;
    font-size: 1rem;
    color: #ccc;
  }
  
  .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .navbar {
    margin-bottom: 0; /* Reduce extra space under the navigation bar */
  }
  
  h3{
  text-align: center;
}
  .vision-mission-h2 {
    text-align: center;
    font-weight: bold; /* Corrected "bolder" to "bold" */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .vision-mission-h4 {
    margin-left: 50px;
    margin-top: 20px;
  }

  
  
  .vision-mission-p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    color: rgb(85, 84, 84);
  }

  .vision-mission-ul{
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 1.9;
    
  }

/* Responsive Design */
@media screen and (max-width: 768px) {

  .vision-mission-ul{
    text-align: left;
    margin-left: 20px;
  }

}