/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.project-development-progress {
  text-align: center;
  color: #333;
  background-color: lightgray; /* Debug background */
}

/* Hero Section */
.hero-section {
  position: relative;
  height: 300px;
  background-color: #001f3f;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 36px;
  font-weight: bold;
}

.hero-content p {
  font-size: 16px;
  margin: 10px 0;
}

.breadcrumb {
  color: #ffd700;
}

/* Navigation Buttons */
.navigation-buttons {
  margin: 20px 0;
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  font-size: 1rem;
}

.btn-left {
  background-color: #1d72b8;
}

.btn-right {
  background-color: #0056a6;
}

/* Content Section */
.content-section {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

.content-section h2 {
  font-size: 24px;
  font-weight: bold;
  color: #1d72b8;
}

.content-section p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}  


.image-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-button {
  background-color: #007acc;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #005f99;
}
