body {
  font-family: Arial, sans-serif !important;
}

.ports-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: .02em;
  margin: 0 auto;
  padding: 0;
}

/* Header Section */
.header-section {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 70px;
  margin: 0;
}

.header-section h1,
.header-section p {
  position: absolute;
  text-align:justify;
  color: white;
  margin: 0;
  font-family: 'open sans','sans-serif';
  font-size: 14px;
}

.header-section h1 {
  bottom: 20px;
  left: 20px;
  font-size: 2.5rem;
  padding: 10px;
}

.header-section p {
  bottom: 10px;
  left: 20px;
  font-size: 1rem;
  color: #ccc;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  margin-bottom: 0; /* Reduce extra space under the navigation bar */
}


  


@media screen and (max-width: 768px) {
  /* Mobile View */
  .main-content {
    flex-direction: column;
  }

  .content-section {
    flex: none; /* Full width for content */
  }

  .small-boxes-container{
    width: 300px;
  }

 

  .header-section {
    height: 40vh;
  }

  .header-section h1 {
    font-size: 1.8rem;
    left: 5px;
  }

  .header-section p {
    font-size: 0.8rem;
    left: 5px;
  }

  
  
}


@media screen and (max-width: 480px) {
  /* Small Mobile View */
  .header-section {
    height: 30vh;
  }

  .header-image{
    width: 300px;
  }

  .header-section h1 {
    font-size: 1.5rem;
  }

  .header-section p {
    font-size: 0.7rem;
  }

  
}

@media screen and (max-width: 768px) {
  .small-boxes-container {
    flex-wrap: wrap; /* Allow buttons to wrap into multiple lines */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    padding: 10px; /* Reduce padding for smaller screens */
    gap: 10px;
  }

  .small-box {
    width: 80px;
    height: 40px;
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .small-boxes-container {
    flex-wrap: wrap; /* Ensure wrapping behavior on smaller screens */
  }

  .small-box {
    width: 80px;
    height: 35px;
    font-size: 10px;
  }
}