body {
    font-family: Arial, sans-serif !important;
  }

.annualreports-title {
    text-align: center;
    color: black;
}

.annualreports-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.header-section {
    margin-top: 70px;
}

/* Two Columns on Small Phones */
@media (max-width: 480px) {
    .header-section h1 {
        font-size: 22px;
    }

    .path {
        font-size: 12px;
    }

    .annualreports-content {
        padding: 10px;
    }

    .content-wrapper {
        margin-right: 100px;
    }
}
