.intro_sectiona {
  margin: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #d9d9d9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.contenta h2 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 25px;
  color: #000000;
}

.contenta p {
  text-align: justify;
  color: #000000;
  margin-bottom: 15px;
}

/* Individual image sizes */
.intro_image_1 {
  width: 650px;
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 0px;
}

.intro_image_2 {
  width: 650px;
  height: 250px;
  object-fit: cover;
  margin-top: 20px;
}

/* Increased size for the third image */
.intro_image_3 {
  width:100%;
  height: 50px; /* Increased height */
  object-fit: cover;
  margin-top: -10px; /* Adds some spacing above the image */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .intro_image_1,
  .intro_image_2,
  .intro_image_3 {
    width: 100%;
    height: auto;
  }
}
