body {
    font-family: Arial, sans-serif !important;
  }
  
.act-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.header-section {
    margin-top: 70px;
}

h3{
  text-align: center;
}

/* Two Columns on Small Phones */
@media (max-width: 480px) {
    .header-section h1 {
        font-size: 22px;
    }

    .path {
        font-size: 12px;
    }

    .righttoinformation-content {
        padding: 10px;
    }
}
