/* Latest News Section */
.latest-news {
  background-color: #221f45;
  padding: 75px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 110px;
  color: #fff;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 85px;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.news-item {
  background: #fff;
  border: 3px solid #d9d9d9; 
  overflow: hidden;
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  transition: transform 0.5s ease-in-out;

}



.news-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transform: rotate(360deg);
  border-radius: 10px;
  /*transition: all 2s ease-in-out 0s;
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  -o-transition: all 2s ease-in-out 0s;
  opacity: 1;*/
}

.news-item:hover {
  transform: scale(1.3);
  border: 3px solid #ffbf00;
  z-index: 1;
}

.news-item:hover .news-image {
  transform: scale(1.1);
}

.news-item:hover .news-content {
  opacity: 1;
}



.latest-news:hover .news-item:hover {
  opacity: 1;
}

.news-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  width: 100%;
  transition: all 2s ease-in-out 0s;
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  -o-transition: all 2s ease-in-out 0s;
  opacity: 1;
}

.news-content {
  padding: 20px;
}

.news-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #221F45;
}

.news-description {
  font-size: 0.85rem;
  color: #555;
  padding-top: 20px;
  font-weight: bold;
  font: #000;
}
/*
.news-description:hover{
  font-size: 0.5rem;
}
*/
.news-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc000;
  color: #000;
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  border-color: #ffc000;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.more-news-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 110px;
  margin-bottom: 20px;
  background-color: #ffc000;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.news-button:hover {
  background-color: #fff;
  border-color: #fff;
}

.more-news-button:hover{
  background-color: #fff;
}
/* Responsive Design */
 @media (max-width: 768px) {
  .news-item {
    width: 250px;
    height: 400px;
  }

  .section-title {
    font-size: 2rem;
  }

  .news-item:hover .news-image {
    transform: none; /* Disable the zooming effect */
    transition: none; /* Disable the transition */
} 
 }
