.latest-news1 {
  background-color: #d9d9d9;
  padding: 40px 20px;
  text-align: center;
}

.news-title1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #000;
}

.news-container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

.news-item_11 {
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction:column;
  width: 35%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  align-items: center;

}

.news-item_21 {
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: row;
  width: 65%;
  height: 50%;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.news-item_31 {
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 50%;
  align-items: center;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 0%;
  margin-bottom: 0px;
  object-fit: cover;
}

.news_21{
  width: 45%;
  height: 80%;
  margin-right: 0px;
  margin-left: 20px;


}

.news_21 p{
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 40%;
  height: 80%;
  margin-left: 50px;
  margin-right: 30px;
  
}

.news-image_11 {
  width: 350PX;
  height: 475px;
  object-fit: cover;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 10px;
}

.news-image_21 {
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-top: 0;
  margin-bottom: 15px;
}

.news-image_31 {
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 0px;

}

.news-description1 {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
  width: 330px;
  margin-left: 10px;
  margin-right: 10px;
}

.news-button1 {
  background-color: #ffbf00;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  flex-direction: column;
  width: 150px;
  align-content: center;
}


.news-button1:hover{
  background-color: #ffa500;
}

.more-news-button1 {
  background-color: #221F45;

  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 0px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 0%;
  margin-left: 80%;
  margin-top: 0%;
  margin-bottom:0% ;
}

.more-news-button1:hover {
  background-color: #221F45;
}


@media (max-width: 768px) {
  .news-title1 {
    font-size: 24px;
  }

  .news-container1 {
    display: flex;
    align-items: center;
    
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .news-item_21 {
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    margin-top: 0px;
  }
  
  .news-item_31 {
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 0%;
    object-fit: cover;
}

  .news-image_11{
    width: 400px;
    height: 200px;
  }

  .news-image_21{
    width: 400px;
    height: 200px;
  }

  .news-image_31{
    width: 400px;
    height: 200px;
  }

  .news-description1 {
    font-size: 10px;
  }

  .news-button1 {
    padding: 5px 8px;
    font-size: 10px;
  }

  .more-news-button1 {
    font-size: 10px;
    padding: 8px 15px;
  }
}