body {
    font-family: Arial, sans-serif !important;
  }
  
 /* Header Section */
.header-section {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 70px;
    margin: 0;
  }
  
  .header-section h1,
  .header-section p {
    position: absolute;
    text-align:justify;
    color: white;
    margin: 0;
    font-family: 'open sans','sans-serif';
    font-size: 14px;
  }
  
  .header-section h1 {
    bottom: 20px;
    left: 20px;
    font-size: 2.5rem;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .header-section p {
    bottom: 10px;
    left: 20px;
    font-size: 1rem;
    color: #ccc;
  }
  
  .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .navbar {
    margin-bottom: 0; /* Reduce extra space under the navigation bar */
  }

  .row h2{
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .col-md-4{
    align-items: center;
    margin-left: 200px;
    margin-right: 50px;
    width: 150px;
    height: 300px;
  }

  h6{
    margin-left: 0px;
  }

  .col-md-12{
    margin-left: 200px;
  }

  .col-md-12 h5{
    margin-left: 0px;
  }

  .raw1 .col-md-41{
    align-items: left;
   /* margin-left: 200px;
    margin-right: 50px;*/
    width: 150px !important;
    height: 300px !important;
  }

  .col-md-12-2{
    margin-left: 0px;
  }

  .under-title{
    font-weight: bold;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: -10px;
    color: rgb(92, 91, 91);
  }