body {
    font-family: Arial, sans-serif !important;
  }
  
 /* Header Section */
.header-section {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 70px;
    margin: 0;
  }
  
  .header-section h1,
  .header-section p {
    position: absolute;
    text-align:justify;
    color: white;
    margin: 0;
    font-family: 'open sans','sans-serif';
    font-size: 14px;
  }
  
  .header-section h1 {
    bottom: 20px;
    left: 20px;
    font-size: 2.5rem;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .header-section p {
    bottom: 10px;
    left: 20px;
    font-size: 1rem;
    color: #ccc;
  }
  
  .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .navbar {
    margin-bottom: 0; /* Reduce extra space under the navigation bar */
  }
  
  

   /* Container for Small Boxes */
.small-boxes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
    padding: 15px;
    position: sticky; /* Makes the container sticky */
    top: 60px; /* Adjust this value to reduce/increase the gap under the navigation bar */
    background-color: #ffffff; /* Add background to prevent overlapping */
    z-index: 10; /* Ensures it stays above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Shadow for better visibility */
    width: 90%;
    margin-left: 20px;
  }
  
  
  /* Individual Small Box */
  .small-box {
    width: 150px;
    height: 50px;
    background-color: #3b82f6; /* Blue color for the boxes */
    color: #ffffff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover Effect for the Box */
  .small-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Subtitle Styling */
  .small-box h4 {
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
  }

  .row h2{
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .col-md-4{
    align-items: center;
    margin-left: 200px;
    margin-right: 50px;
    width: 150px;
    height: 300px;
  }

  h6{
    margin-left: 0px;
  }

  .col-md-12{
    margin-left: 200px;
  }

  .col-md-12 h5{
    margin-left: 0px;
  }

  .raw1 .col-md-41{
    align-items: left;
   /* margin-left: 200px;
    margin-right: 50px;*/
    width: 150px !important;
    height: 300px !important;
  }

  .col-md-12-2{
    margin-left: 0px;
  }

  .under-title{
    font-weight: bold;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: -10px;
    color: rgb(92, 91, 91);
  }